<launch>
  <arg name="lidar_topic" default="/iv_points" />
  <arg name="cam_topic" default="/camera/left/image_raw" />
  <arg name="param_path" default="$(find innovusion_zed)/config/camera_left.json" />
  <arg name="output_dir" default="$(find innovusion_zed)/true_data" />
  <arg name="depth_scale" default="1000.0" />
  <arg name="preview_window" default="true" />

  <include file="$(find collector)/launch/falcons_zed_collector.launch">
    <arg name="lidar_topic" value="$(arg lidar_topic)" />
    <arg name="cam_topic" value="$(arg cam_topic)" />
    <arg name="param_path" value="$(arg param_path)" />
    <arg name="output_dir" value="$(arg output_dir)" />
    <arg name="depth_scale" value="$(arg depth_scale)" />
    <arg name="preview_window" value="$(arg preview_window)" />
  </include>
</launch>
